
main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#container{
    border: 2px solid black;
    width: 600px;
    height: 600px;
}

#prompt{
    border: 2px solid black;
    height: 400px;
    width: 400px;
}

